/*引入字体*/
@font-face{
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: normal;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-ExtraLight.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-ExtraLight.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-ExtraLight.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-ExtraLight.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 200;
    font-style: italic;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-ExtraLightIt.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-ExtraLightIt.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-ExtraLightIt.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-ExtraLightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-Light.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-Light.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-Light.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-Light.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 300;
    font-style: italic;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-LightIt.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-LightIt.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-LightIt.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-LightIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-Regular.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-Regular.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-Regular.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 400;
    font-style: italic;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-It.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-It.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-It.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-It.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-Medium.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-Medium.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-Medium.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-Medium.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 500;
    font-style: italic;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-MediumIt.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-MediumIt.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-MediumIt.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-MediumIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-Semibold.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-Semibold.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-Semibold.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-Semibold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 600;
    font-style: italic;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-SemiboldIt.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-SemiboldIt.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-SemiboldIt.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-SemiboldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-Bold.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-Bold.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-Bold.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 700;
    font-style: italic;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-BoldIt.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-BoldIt.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-BoldIt.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-BoldIt.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-Black.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-Black.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-Black.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-Black.ttf') format('truetype');
}

@font-face{
    font-family: 'Source Code Pro';
    font-weight: 900;
    font-style: italic;
    font-stretch: normal;
    src: url('./font/WOFF2/TTF/SourceCodePro-BlackIt.ttf.woff2') format('woff2'),
         url('./font/WOFF/OTF/SourceCodePro-BlackIt.otf.woff') format('woff'),
         url('./font/OTF/SourceCodePro-BlackIt.otf') format('opentype'),
         url('./font/TTF/SourceCodePro-BlackIt.ttf') format('truetype');
}

/*全局样式*/
* {
    padding: 0;
    margin: 0;
}
div, dl, dt, dd, form, h1, h2, h3, h4, h5, h6, img, ol, ul, li, table, th, td, p, span, a {
    border: 0;
}
img, input {
    border: none;
    vertical-align: middle;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Source Code Pro',"microsoft yahei","microsoft mhei",stheititc,sans-serif;
    text-align: center;
    background: #CFF;
    color: #000;
}
html {
    overflow: hidden;
}
ul, ol {
    list-style-type: none;
}
th, td, input {
    font-size: 13px;
}
h3 {
    font-size: 14px;
}
button {
    border: none;
    cursor: pointer;
    font-size: 12px;
    background-color: transparent;
}
select {
    border-width: 1px;
    _zoom: 1;
    border-style: solid;
    padding-top: 2px;
    font-size: 12px;
}
.clear {
    clear: both;
    font-size: 1px;
    height: 0;
    visibility: hidden;
    line-height: 0;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.clearfix {
    zoom: 1;
}
a:link, a:visited {
    text-decoration: none;
    color: #333;
}
a:hover, a:active {
    text-decoration: underline;
    color: #FCC;
}
/******************************/
.header {
    width: 100vw;
    height: 4vh;
}
.timeshow {
    line-height: 2vh;
    font-size: 2vh;
}
.time {
    width: auto;
    height: 100%;
    text-align: right;
    float: right;
}
.week{
    float: left;
}

.main {
    width: 100vw;
    height: 88vh;
    padding: 1.5vh 0 1.5vh;
}
ul#curriculum li {
    height: 8vh;
    background: #FFC; 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
ul#curriculum li.tablelist {
    float: left;
}
li.classsegments {
    width: 4vw;
}
li.classsegments ul#segments li {
    line-height: 8vh;
}
li.classtime {
    width: 5vw;
}
li.classtime ul#time li.tablehader{
    line-height: 8vh;
    font-size: 100%;
}
li.classtime ul#time li:not(:first-child){
    line-height: 2.666vh;
    font-weight: 700;
}
ul.weekclass li.tablehader {
    line-height: 4vh;
}
li.weektime {
    width: 13vw;
}
ul#curriculum li.tableclass {
    height: 16vh;
    line-height: 4vh;
    font-size: 3vw;
    position: relative;
}
ul#curriculum li.weektime ul.weekclass li.tableclass {
    background: #FFC; 
    transition:background-color .5s;
    -moz-transition:background-color .5s; /* Firefox 4 */
    -webkit-transition:background-color .5s; /* Safari and Chrome */
    -o-transition:background-color .5s; /* Opera */
}
ul#curriculum li.weektime ul.weekclass li.tableclass:hover{
    background: #FCC;
}
.class_activity {
    width: 100%;
    height: 0%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #C6F;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    opacity: 0.4;
}

.footer {
    width: 100vw;
    height: 5vh;
}
.timeout {
    width: 100vw;
    height: 2vh;
}
.timeout_use {
    width: 0%;
    height: 100%;
    background-color: #FCC;
}
#timeout_str {
    float: right;
    line-height: 2vh;
    white-space: nowrap;
}
.bbs{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.bbs_notice {
    font-size: 3vh;
    line-height: 3vh;
    position: absolute;
    top: 0px;
    overflow: visible;
    letter-spacing: 1px;
    margin-right: 100px;
    white-space: nowrap;
    text-overflow: clip;
    animation: scroll_left 12s linear infinite;
}
@keyframes scroll_left {
    from {
        left: 100vw;
    }
    to {
        left: -100vw;
    }
}
@-webkit-keyframes scroll_left /*Safari and Chrome*/
{
    from {
        left: 100vw;
    }
    to {
        left: -100vw;
    }
}